.tituloListagem {
    margin-left: 20px;
}

.tituloCadastro {
    font-family: 'Abril Fatface';
    margin-left: 30px;
}

.listaCursos {
    margin-left: 20px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}
.cabecTabela {
    color: white;
    background-color: #8c3831;
    font-size: 20px;
    text-align: center;
}

th, td {
    padding: 10px;
}

.tituloNome {
    width: 400px;
}
.tituloRole {
    width: 200px;
}

input[type=text] {
    display: inline-block;
    width: 90%;
    padding: 12px;
    margin: 8px 0;
}

input[type=password] {
    display: inline-block;
    width: 90%;
    padding: 12px;
    margin: 8px 0;
}

.form {
    width: 100%;
}

.inclui-container {
    margin: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.btnSalvar {
    background-color: rgb(241, 212, 212);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 10px 5px 10px;
}

.btnCancelar{
    background-color: gainsboro;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px ;
}

label {
    padding: 10px;
}


